body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(232, 244, 251, 0.9);
    color: #333;
}

.top-nav {
    background-color: rgba(51, 102, 153, 0.9);
    color: #fff;
    padding: 10px;
    text-align: center;
}

.top-nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    transition: color 0.3s;
}

.top-nav a:hover {
    color: #d1ecf1;
}

.top-nav a i {
    margin-right: 8px;
    font-size: 18px;
}

.header {
    background-color: rgba(167, 199, 231, 0.9);
    color: #111010;
    padding: 30px 20px;
    text-align: center;
}

.header h1 {
    margin: 0;
    font-size: 30px;
    font-weight: bold;
}

.header p {
    margin: 10px 0 0;
    font-size: 15px;
    line-height: 1.6;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}

.project-card {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 45%;
    padding: 20px;
    box-sizing: border-box;
}

.project-tech {
    background-color: rgba(167, 199, 231, 0.9);
    color: #080808;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 10px;
}

.project-card h3 {
    margin: 10px 0;
    font-size: 20px;
    color: #333;
    font-weight: bold;
}

.project-card p {
    font-size: 16px;
    color: #666;
    line-height: 1.5;
}

.project-card a {
    display: inline-block;
    margin-top: 10px;
    color: #2b7a9d;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.project-card a:hover {
    text-decoration: underline;
    color: #d1ecf1;
}
.tags {
    display: flex;
    gap: 10px; /* Space between tags */
    flex-wrap: wrap; /* Allow tags to wrap if necessary */
}

.tag {
    background-color: rgba(167, 199, 231, 0.9);
    color: rgb(9, 9, 9); /* White text color */
    padding: 5px 10px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 14px; /* Same size for all tags */
}

.footer {
    background-color: rgba(51, 102, 153, 0.9);
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}

.footer a {
    color: rgba(167, 199, 231, 0.9);
    text-decoration: none;
    transition: color 0.3s;
}

.footer a:hover {
    text-decoration: underline;
    color: #d1ecf1;
}
